* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
}

.primary {
  color: #9356dc;
}

.secondary {
  color: #ff79da;
}

.tertary {
  color: #99e2d0;
}

.spinner {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100000;
  justify-content: center;
  align-items: center;
  animation: spinner 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}
.spinner #spinner_ {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
}
@media screen and (min-width: 700px) {
  .spinner {
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 20%;
  }
}
@media screen and (min-width: 1024px) {
  .spinner {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 13%;
  }
}

@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}
@keyframes spinner {
  100% {
    opacity: 0;
    z-index: -10000;
  }
}
header {
  padding: 16px;
  box-shadow: 0 0 8px #000;
  position: relative;
  z-index: 100;
}
header .logo {
  text-align: center;
  font-family: "Shrikhand", "cursive";
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  position: relative;
  font-size: 20px;
  padding: 20px;
}
.location .bold-700 {
  font-weight: 700;
}
.location .location__icon {
  margin: 0 16px 0 0;
}

.info {
  padding: 16px;
  text-align: center;
  background: #fafafa;
}
.info .info__sentence {
  font-weight: 300;
  margin: 24px 0;
}
.info .btn__explore {
  padding: 12px 24px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 4px 4px 160px black;
  border-radius: 80px;
  background: #686868 linear-gradient(0deg, #9356dc, #ff79da);
  font-weight: 500;
}
.info .btn__explore:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 160px black;
}

.fonctionnement {
  padding: 32px 16px;
}
.fonctionnement .container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: ListCount;
}
.fonctionnement .container ul li {
  padding: 24px;
  margin: 16px 16px 16px 16px;
  background: white;
  border-radius: 20px;
  display: flex;
  position: relative;
  box-shadow: 4px 4px 8px black;
}
.fonctionnement .container ul li::before {
  counter-increment: ListCount 1;
  content: counter(ListCount);
  width: 24px;
  height: 24px;
  border-radius: 80px;
  background: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -10px;
}
.fonctionnement .container ul li i {
  margin-right: 16px;
  color: #7e7e7e;
}
.fonctionnement .container ul li span {
  color: black;
  font-weight: 400;
}
.fonctionnement .container ul li .fa-store {
  color: #9356dc;
}
.fonctionnement .container ul #violet {
  background: #f5edff;
}

.restaurants {
  margin: 2%;
}

.cards {
  display: flex;
  flex-direction: column;
}
.cards .card {
  background: #fff;
  border-radius: 16px;
  position: relative;
  display: block;
  margin: 8px 0;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.0705882353);
}
.cards .card img {
  width: 100%;
  height: 180px;
  border-radius: 16px 16px 0 0;
  box-shadow: none;
  object-fit: cover;
}
.cards .card .card_nouveau {
  background: #99e1cf;
  color: #138668;
  padding: 8px;
  border-radius: 2px;
  position: absolute;
  top: 16px;
  right: 12px;
}
.cards .card .card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
  color: black;
  padding: 16px;
}
.cards .card .card__footer h3 {
  margin: 0 0 4px;
}
.cards .card .card__footer span {
  margin: 0;
}
.cards .card .card__footer .card__heart {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  background: transparent;
}
.cards .card .card__footer .card__heart i {
  font-size: 32px;
  position: absolute;
}
.cards .card .card__footer .card__heart i:hover {
  opacity: 0;
}
.cards .card .card__footer .card__heart .heart__color {
  opacity: 0;
}
.cards .card .card__footer .card__heart .heart__color:hover {
  opacity: 1;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  padding: 16px;
  background: #383838;
  display: flex;
  flex-direction: column;
}
footer .omf__text {
  font-family: "Shrikhand", "cursive";
  font-size: 18px;
  margin: 0 0 16px;
  color: #fff;
}
footer ul {
  list-style: none;
}
footer ul li {
  display: flex;
  position: relative;
  margin: 8px 0;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li a i {
  width: 18px;
  margin-right: 8px;
}

@media screen and (min-width: 700px) {
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 4%;
    row-gap: 4%;
  }
  .cards .card {
    width: 48%;
  }
}

@media screen and (min-width: 1024px) {
  .fonctionnement .container {
    width: 100%;
  }
  .fonctionnement .container h2 {
    margin: 10px;
  }
  .fonctionnement .container ul {
    display: flex;
  }
  .fonctionnement .container ul li {
    flex: 1;
    margin: 0 0 0 80px;
  }
  .fonctionnement .container ul lifirst-child {
    margin-top: 0;
    margin-left: 14px;
  }
}

.bg__image {
  max-width: 100%;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}

.menu {
  margin-top: -60px;
  border-radius: 32px 32px 0 0;
  background: #f6f6f6;
  z-index: 1000;
  position: relative;
}
.menu_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px 0 16px;
}
.menu_header h2 {
  font-family: Shrikhand, "cursive";
  margin: 18px 0;
}
.menu_header .card__heart {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  background: transparent;
}
.menu_header .card__heart i {
  font-size: 30px;
  position: absolute;
}
.menu_header .card__heart i:hover {
  opacity: 0;
}
.menu_header .card__heart .heart__color {
  opacity: 0;
}
.menu_header .card__heart .heart__color:hover {
  opacity: 1;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s;
}
.menu .menu_cards {
  display: grid;
}
.menu .menu_cards .plats {
  max-width: 100%;
  overflow: hidden;
  padding: 0 16px;
}
.menu .menu_cards .plats h3 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 8px;
  font-weight: 400;
  margin: 18px 0;
}
.menu .menu_cards .plats .menu_item {
  background: white;
  border-radius: 13px;
  padding: 16px;
  display: flex;
  box-shadow: 4px 4px 16px black;
  overflow: hidden;
  margin: 16px 0;
  cursor: pointer;
  max-width: 100%;
}
.menu .menu_cards .plats .menu_item-text {
  flex: 1;
  overflow: hidden;
}
.menu .menu_cards .plats .menu_item-text h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .menu_cards .plats .menu_item-text p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menu_cards .plats .menu_item-price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 8px;
  margin-right: 32px;
}
.menu .menu_cards .plats .menu_item-validation {
  background: #99e2d0;
  margin: -16px -80px -16px -16px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}
.menu .menu_cards .plats .menu_item-icon {
  width: 28px;
  height: 28px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  transform: rotate(360deg);
  transition-duration: 0.5s;
}
.menu .menu_cards .plats .menu_item-icon i {
  color: #99e2d0;
}
.menu .menu_cards .plats .menu_item:hover .menu_item-validation {
  margin-right: -16px;
}
.menu .menu_cards .plats .menu_item:hover .menu_item-icon {
  transform: rotate(0);
}
.menu .menu_cards .plats .delay-0 {
  opacity: 0;
  animation: delais 1s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
}
.menu .menu_cards .plats .delay-1 {
  opacity: 0;
  animation: delais 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.menu .menu_cards .plats .delay-2 {
  opacity: 0;
  animation: delais 1s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
}
.menu .menu_cards .plats .delay-3 {
  opacity: 0;
  animation: delais 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.menu .menu_cards .plats .delay-4 {
  opacity: 0;
  animation: delais 1s;
  animation-delay: 1.25s;
  animation-fill-mode: forwards;
}
.menu .menu_cards .plats .delay-5 {
  opacity: 0;
  animation: delais 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
.menu .menu_cards .plats .delay-6 {
  opacity: 0;
  animation: delais 1s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
}
.menu .menu_cards .plats .delay-7 {
  opacity: 0;
  animation: delais 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.menu .menu_cards .plats .delay-8 {
  opacity: 0;
  animation: delais 1s;
  animation-delay: 2.25s;
  animation-fill-mode: forwards;
}
.menu .menu_cards .plats .delay-9 {
  opacity: 0;
  animation: delais 1s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}
@keyframes delais {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@-webkit-keyframes delais {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@-moz-keyframes delais {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.menu .btn_card {
  padding: 38px 0;
  display: flex;
  justify-content: center;
}
.menu .btn_card .btn_buy {
  padding: 12px 24px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 4px 4px 160px black;
  border-radius: 80px;
  background: #686868 linear-gradient(0deg, #9356dc, #ff79da);
  font-weight: 500;
  font-weight: 400;
}
.menu .btn_card .btn_buy:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 160px black;
}

@media screen and (min-width: 1024px) {
  .menu .menu_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

/*# sourceMappingURL=menu.css.map */
